<!-- Content -->
<div class="page-content bg-white">
    <!-- inner page banner -->
    <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(assets/images/background/bg4.jpg);">
        <div class="container">
            <div class="dez-bnr-inr-entry">
                <h1 class="text-white">Historique</h1>
            </div>
        </div>
    </div>
    <!-- inner page banner END -->
    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a routerLink="/">Accueil</a></li>
                <li>Historique</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <!-- contact area -->
    <div class="content-area">
        <!-- Career -->
        <div class="container">
            <div class="row">
                <!-- Left part start -->
                <div class="col-lg-9 m-b30">
                    <h1 class="m-b20 m-t0">DEEADCI </h1>
                    <div class="dez-separator bg-primary"></div>
                    <p><strong>Le DEEADCI (Département Enfants de L’Eglise Assemblées de Dieu de Côte d’Ivoire) , encore appelé ‘’ Ecole du dimanche’’ ou ’’ Ecodim’’ à été crée en côte d’Ivoire au début des années 1980 .C’est le département au sein de l’église Assemblées de Dieu dédié à l’encadrement spirituel des enfants de 03 à 18 ans .

                        Il est subdivisé en 5 classes pour répondre aux besoins Psycho-éducatif et spirituels des enfants mais également à leur durée d’attention au cours d’une leçon. Ainsi nous avons : </strong></p>
                    <ul class="list-angle-right">
                        <li><strong>Les Tout –petits </strong> (3-5ans) : 5 minutes d’attention</li>
                        <li><strong>Les petits </strong> (6-8 ans) : 10 minutes d’attention</li>
                        <li><strong>Les moyens </strong> (9-11 ans) : 20 minutes d’attention</li>
                        <li><strong>Les juniors </strong> (12-13 ans) : 30 minutes d’attention </li>
                        <li><strong>Les adolescents </strong>(14- 18 ans) :30 minutes d’attention</li>
                    </ul>
                    <p><strong>NB</strong> : Il arrive parfois que les écoles de dimanche ne respectent pas ce schéma compte tenu des différentes réalités liées au manque de moniteurs, d’enfants ou d’espaces. Dès lors ces écoles de dimanche s’adaptent. </p>
                    <p>Les enfants sont encadrés par des moniteurs ayant suivis une formation à cet effet se déroulant sur 4ans (Degré 1, Degré 2, Cadre 1, Cadre 2)  puis de la formation des formateurs. </p>
                    <h3>Les différentes commissions du DEEADCI</h3>
                    <ul class="list-check-circle primary">
                        <strong>Il ya 5 commissions au sein du DEEADCCI qui sont :</strong>
                        <li>CASC (commission des affaires socioculturelles)</li>
                        <li>AMEC (Action Missionnaire de l’ECodim)</li>
                        <li>CONAFORM  (Commission Nationale de Formation des Moniteurs) </li>
                        <li>CODEC (Commission de Documentation de l’Ecodim)</li>
                        <li>CPN (Commission Pédagogique Nationale) </li>
                    </ul>
                    <h2 class="m-t30 m-b10 ">Historique des manuels du DEEADCI</h2>
                    
                    <p>Jusqu’en 2012 les manuels utilisés étaient les manuels vie Nouvelle ‘’ de Gaetan Goché qui étaient des documents canadien non adapté aux réalités des enfants africains. S’en est suivi le manuel  Global University’’ puis les Gravures CPE (Centre de publication Evangélique) non durable. </p>
                    <p>Depuis 2017 nous utilisons les progressions spéciales de la commission documentation de la commission pédagogique nationale. Programme de la commission documentation de la nouvelle région Abidjan Est avec pour thème : «  DEEADCI : un instrument de réveil et de Restauration .Romains 13 : 11 » </p>
                    <a routerLink="/a-propos" class="site-button "><span>A propos de nous</span><i class="fa fa-angle-right m-l10"></i></a>
                </div>
                <!-- Left part start END -->
                <!-- Right part start -->
                <div class="col-lg-3">
                    <div class="icon-bx-wraper bx-style-1 p-a30 center m-b15">
                        <div class="icon-bx-sm text-primary bg-white radius border-2 m-b20"> <a href="#" class="icon-cell"><i class="fa fa-user"></i></a> </div>
                        <div class="icon-content">
                            <h5 class="dez-tilte text-uppercase">Enseignements en Direct</h5>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod [...]</p>
                        </div>
                    </div>
                    <div class="icon-bx-wraper bx-style-1 p-a30 center m-b15">
                        <div class="icon-bx-sm text-primary bg-white radius border-2 m-b20"> <a href="#" class="icon-cell"><i class="fa fa-building-o"></i></a> </div>
                        <div class="icon-content">
                            <h5 class="dez-tilte text-uppercase">Recent Evénements</h5>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod [...]</p>
                        </div>
                    </div>
                    <div class="icon-bx-wraper bx-style-1 p-a20 left">
                        <div class="icon-bx-xs text-primary bg-white radius border-2 "> <a href="#" class="icon-cell"><i class="fa fa-code"></i></a> </div>
                        <div class="icon-content">
                            <h5 class="dez-tilte text-uppercase">Content title</h5>
                            <p>Lorem ipsum dolor sit elit nonummy dolor is euismod end [...]</p>
                        </div>
                    </div>
                </div>
                <!-- Right part start END -->
            </div>
        </div>
        <!-- Career END -->
    </div>
    <!-- contact area END -->
</div>
<!-- Content END-->