<!-- Content -->
<div class="page-content">
    <!-- inner page banner -->
    <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(images/background/bg4.jpg);">
        <div class="container">
            <div class="dez-bnr-inr-entry">
                <h1 class="text-white">Portfolio 3</h1>
            </div>
        </div>
    </div>
    <!-- inner page banner END -->
    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="#">Home</a></li>
                <li>Portfolio 3</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <!-- contact area -->
    <div class="content-area">
        <!-- Portfolio -->
        <div class="container">
            <div class="site-filters clearfix">
                
                <ul data-toggle="buttons">
                    
                    <li class="btn">
                        <input type="radio" >
                        <div class="site-button-secondry search-bx">
                            <div class="input-group">
                                <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search events">
                                <span class="input-group-btn">
                                <button class="site-button"><i class="fa fa-search"></i></button>
                                </span> 
                            </div>
                        </div>
                    </li>
                    <li class="btn" *ngFor="let category of categories">
                        <input type="radio" >
                        <a href="#" class="site-button-secondry"><span>{{category.name}}</span></a> 
                    </li>
                </ul>
            </div>
            <div class="clearfix">
                <ul class="row dez-gallery-listing gallery-grid-4 m-b0 mfp-gallery">
                    <ng-container *ngFor="let ev of events | filter:searchKey:'name'">
                        <li class="card-container col-lg-3 col-sm-6 m-b30 office">
                            <div class="dez-box dez-gallery-bx">
                                <div class="dez-media dez-img-overlay2 dez-img-effect zoom"> <img [src]="ev.image"  alt="">
                                    <div class="dez-info-has p-a20">
                                        <h1 class="m-b20 m-t0">{{ev.name}} </h1>
                                        <p>Date: {{ev.created | date: 'd MMM y'}}</p>
                                        <ul class="dez-social-icon border">
                                            <a class="site-button button-sm radius-sm m-t5" *ngIf="ev.photos.length > 0">+ Images: {{ev.photos.length}}</a>
                                            <li> </li>
                                            <a class="site-button button-sm radius-sm m-t5" *ngIf="ev.videos.length > 0">+ Videos: {{ev.videos.length}}</a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ng-container>
                </ul>
            </div>
            <!-- Pagination start -->
            <div class="pagination-bx  clearfix ">
                <ul class="pagination">
                    <li class="previous"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li class="next"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
            </div>
            <!-- Pagination END -->
        </div>
        <!-- Portfolio END-->
    </div>
    <!-- contact END -->
</div>
<!-- Content END-->