<aside  class="side-bar">
    <div class="widget">
        <h4 class="widget-title">Rechercher</h4>
        <div class="search-bx">
            <form role="search" method="post">
                <div class="input-group">
                    <input name="text" type="text" class="form-control" placeholder="Write your text">
                    <span class="input-group-btn">
                    <button type="submit" class="site-button"><i class="fa fa-search"></i></button>
                    </span> </div>
            </form>
        </div>
    </div>
    <div class="widget recent-posts-entry">
        <h4 class="widget-title">Vidéos Récentent</h4>
        <div class="widget-post-bx">
            <div class="widget-post clearfix" *ngFor="let video of videos | slice:0:3">
                <div class="dez-post-media"> 
                    <!-- <iframe [src]="('https://www.youtube.com/embed/' + video?.link | safeUrl)" frameborder="0" width="200" height="143"></iframe> -->
                    <img src="assets/images/blog/recent-blog/pic1.jpg" width="200" height="143" alt=""> 
                </div>
                <div class="dez-post-info">
                    <div class="dez-post-header">
                        <h6 class="post-title"><a href="#">{{video.name}}</a></h6>
                    </div>
                    <div class="dez-post-meta">
                        <ul>
                            <li class="post-author">By <a href="#">Admin</a></li>
                            <li class="post-comment"><i class="fa fa-comments"></i> 28</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="widget widget_categories">
        <h4 class="widget-title">Liste des Categories</h4>
        <ul>
            <li *ngFor="let category of categories"><a [routerLink]="['/articles/categorie/', category.id]" [queryParams]="{ query: category.slug}">{{category.name}}</a> (1)</li>
        </ul>
    </div>
    <div class="widget widget_gallery">
        <h5 class="widget-title">Evenements Récents</h5>
        <ul>
            <li class="img-effect2"> <a href="#"><img src="assets/images/gallery/pic1.jpg" alt=""></a> </li>
            <li class="img-effect2"> <a href="#"><img src="assets/images/gallery/pic2.jpg" alt=""></a> </li>
            <li class="img-effect2"> <a href="#"><img src="assets/images/gallery/pic3.jpg" alt=""></a> </li>
            <li class="img-effect2"> <a href="#"><img src="assets/images/gallery/pic4.jpg" alt=""></a> </li>
            <li class="img-effect2"> <a href="#"><img src="assets/images/gallery/pic5.jpg" alt=""></a> </li>
            <li class="img-effect2"> <a href="#"><img src="assets/images/gallery/pic6.jpg" alt=""></a> </li>
        </ul>
    </div>
    <div class="widget widget_tag_cloud">
        <h4 class="tagcloud">Mots Clés</h4>
        <div class="tagcloud"> 
            <a [routerLink]="['/articles/tags/', tag.id]" [queryParams]="{ query: tag.slug}" *ngFor="let tag of tags">{{tag.name}}</a> 
        </div>
    </div>
</aside>