<!-- Content -->
<div class="page-content">
    <!-- inner page banner -->
    <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(assets/images/background/all-articles.jpg);">
        <div class="container">
            <div class="dez-bnr-inr-entry">
                <h1 class="text-white">Tous nos articles</h1>
            </div>
        </div>
    </div>
    <!-- inner page banner END -->
    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a routerLink="/">Accueil</a></li>
                <li>Tous nos articles</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <div class="content-area">
        <div class="container">
            <div class="row">
                <!-- left part start -->
                <div class="col-lg-9">
                    <div class="clearfix">
                        <!-- blog grid  -->
                        <div id="masonry" class="row dez-blog-grid-2">
                            <div class="post card-container col-lg-6 col-sm-6 col-12" *ngFor="let article of articles">
                                <div class="blog-post blog-grid date-style-2">
                                    <div class="dez-post-media dez-img-effect zoom-slow"> <a href="#"><img src="{{article.image}}" alt="" height="700" width="500"></a> </div>
                                    <div class="dez-post-info">
                                        <div class="dez-post-title ">
                                            <h3 class="post-title"><a href="#">{{article.title}}</a></h3>
                                        </div>
                                        <div class="dez-post-meta ">
                                            <ul>
                                                <li class="post-date"> <i class="fa fa-calendar"></i><strong style="color: white;">{{article.created | date: 'd MMM'}}</strong> <span style="color: white;"> {{article.created | date: 'y'}}</span> </li>
                                                <li class="post-author"><i class="fa fa-user"></i>By <a href="#">demongo</a> </li>
                                                <li class="post-comment"><i class="fa fa-comments"></i> <a href="#">0 Comments</a> </li>
                                            </ul>
                                        </div>
                                        <div class="dez-post-text">
                                            <p>{{article.description}}</p>
                                        </div>
                                        <div class="dez-post-readmore"> <a href="#" title="READ MORE" rel="bookmark" class="site-button-link">READ MORE<i class="fa fa-angle-double-right"></i></a> </div>
                                        <div class="dez-post-tags">
                                            <div class="post-tags" *ngFor="let tag of tags">
                                                 <div *ngFor="let articleTag of article.tags">
                                                    <a href="#" *ngIf="tag.id === articleTag"># {{tag.name}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- blog grid END -->
                        <!-- Pagination start -->
                        <div class="pagination-bx  clearfix ">
                            <ul class="pagination">
                                <li class="previous"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li class="next"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                            </ul>
                        </div>
                        <!-- Pagination END -->
                    </div>
                </div>
                <!-- left part start -->
                <!-- Side bar start -->
                <div class="col-lg-3">
                    <aside  class="side-bar">
                        <div class="widget">
                            <h4 class="widget-title">Search</h4>
                            <div class="search-bx">
                                <form role="search" method="post">
                                    <div class="input-group">
                                        <input name="text" type="text" class="form-control" placeholder="Write your text">
                                        <span class="input-group-btn">
                                        <button type="submit" class="site-button"><i class="fa fa-search"></i></button>
                                        </span> </div>
                                </form>
                            </div>
                        </div>
                        <div class="widget recent-posts-entry">
                            <h4 class="widget-title"><i class="fa fa-video-camera"></i> Recent Video</h4>
                            <div class="widget-post-bx">
                                <div class="widget-post clearfix" *ngFor="let video of videos | slice:0:3">
                                    <div class="dez-post-media"> <img src="assets/images/blog/recent-blog/pic1.jpg" width="200" height="143" alt=""> </div>
                                    <div class="dez-post-info">
                                        <div class="dez-post-header">
                                            <h6 class="post-title"><a href="#">{{video.name}}</a></h6>
                                        </div>
                                        <div class="dez-post-meta">
                                            <ul>
                                                <li class="post-author">By <a href="#">Admin</a></li>
                                                <li class="post-comment"><i class="fa fa-comments"></i> 28</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget widget_categories">
                            <h4 class="widget-title">Categories List</h4>
                            <ul *ngFor="let category of categories">
                                <li><a href="#">{{category.name}}</a> (1)</li>
                            </ul>
                        </div>
                        <div class="widget widget_gallery">
                            <h5 class="widget-title"><i class="fa fa-group"></i> Our services</h5>
                            <ul>
                                <li class="img-effect2"> <a href="#"><img src="assets/images/gallery/pic1.jpg" alt=""></a> </li>
                                <li class="img-effect2"> <a href="#"><img src="assets/images/gallery/pic2.jpg" alt=""></a> </li>
                                <li class="img-effect2"> <a href="#"><img src="assets/images/gallery/pic3.jpg" alt=""></a> </li>
                                <li class="img-effect2"> <a href="#"><img src="assets/images/gallery/pic4.jpg" alt=""></a> </li>
                                <li class="img-effect2"> <a href="#"><img src="assets/images/gallery/pic5.jpg" alt=""></a> </li>
                                <li class="img-effect2"> <a href="#"><img src="assets/images/gallery/pic6.jpg" alt=""></a> </li>
                            </ul>
                        </div>
                        <div class="widget widget_tag_cloud">
                            <h4 class="tagcloud"><i class="fa fa-tags"></i> Tags</h4>
                            <div class="tagcloud bz"  *ngFor="let tag of tags">
                                 <a href="#"># {{tag.name}}</a> 
                            </div>
                        </div>
                    </aside>
                </div>
                <!-- Side bar END -->
            </div>
        </div>
    </div>
</div>
<!-- Content END-->