  <!-- Content -->
  <div class="page-content">
    <!-- inner page banner -->
    <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(assets/images/background/bg4.jpg);">
        <div class="container">
            <div class="dez-bnr-inr-entry">
                <h1 class="text-white">Tous nos Evenements</h1>
            </div>
        </div>
    </div>
    <!-- inner page banner END -->
    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a routerLink="/">Accueil</a></li>
                <li><a href="#">Médias</a></li>
                <li>Evenements</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <div class="section-full bg-white content-inner">
         <!-- Club Media -->
          <div class="row dez-club-media">
            <div class="col-lg-4 col-sm-6 m-b20" *ngFor="let media of medias | slice:0:6">
              <div class="dez-box">
                  <div class="dez-media dez-img-overlay2 dez-img-effect zoom"> <img width="350" height="314" src="{{media.image}}" alt="">
                      <div class="dez-info-has p-a20  no-hover">
                          <a href="">{{media.name}}</a>
                          <br>
                          <!-- <a class="site-button button-sm radius-sm m-t5" href="">5+ Images </a> -->
                          <a class="site-button button-sm radius-sm m-t5" href="">+ Images: {{media.photos.length}} | + Videos: {{media.videos.length}}</a>

                      </div>
                  </div>                                   
              </div>
            </div>
          </div>
          <!-- Club Media END -->
    </div>
</div>
<!-- Content END-->