<div class="page-content bg-white">
    <!-- inner page banner -->
    <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(assets/images/background/single-event.jpg);">
        <div class="container">
            <div class="dez-bnr-inr-entry">
                <h1 class="text-white">Evenement: {{event.name}}</h1>
            </div>
        </div>
    </div>
    <!-- inner page banner END -->
    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a routerLink="/">Accueil</a></li>
                <li><a routerLink="/evenements">Evenements</a></li>
                <li>{{event.name}}</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <!-- contact area -->
    <div class="section-full content-inner">
        <!-- Product details -->
        <div class="container woo-entry">
            <div class=" m-b30">
                <div class="row blog-post blog-md date-style-2">
                    <div class="col-lg-4 col-md-4  col-sm-5 m-b30"> <a><img [src]="event.image" alt=""></a> </div>
                    <div class="col-lg-8 col-md-8 col-sm-7">
                        <div class="dez-post-title ">
                            <h2 class="post-title"><a>{{event.name}}</a></h2>
                        </div>
                        <h6 class="m-tb10">Publié le <em class="text-primary">{{event.created | date: 'd MMM y'}}</em> </h6>
                        <div class="dez-post-text">
                            <p class="m-b10" [innerHTML]="event.description">
                                <!-- {{event.description}} -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="dez-tabs border-tp product-description bg-tabs">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#photos" (click)=photosActive()>
                                    <h4>
                                        <i class="fa fa-photo"></i>
                                    <span class="title-head"> Photos ({{event.photos.length}})</span>
                                    </h4>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#videos" (click)=videosActive()>
                                    <h4>
                                        <i class="fa fa-file-movie-o"></i> 
                                    <span class="title-head"> Videos ({{event.videos.length}})</span>
                                    </h4>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="photos" class="tab-pane active" *ngIf="videosActivate == false">
                                <div class="clearfix">
                                    <p class="m-b10" *ngIf="event.photos.length > 0;else sorry1">
                                        <strong><em><h3>Photos de l'évenement.</h3></em></strong><br>
                                    </p>
                                    <ng-template #sorry1>
                                        <p class="m-b10">
                                            <strong><em><h3>Désolé, il n'y a pas eu de photos lors de cet évenement.</h3></em></strong><br>
                                        </p>
                                    </ng-template>
                                    <ng-container *ngIf="event.photos.length > 0">
                                        <ul  id="masonry1" class="row dez-gallery-listing gallery-grid-4 m-lr0 lightgallery">
                                            <li class="water card-container col-lg-3 col-md-4 col-sm-6" *ngFor="let tof of tofs">
                                                <div class="dez-box dez-gallery-box">
                                                    <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow"> <a href="javascript:void(0);"> <img [attr.src]="tof.image"  alt=""> </a>
                                                        <div class="overlay-bx">
                                                            <div class="overlay-icon"> 
                                                                <span [attr.data-exthumbimage]="tof.image" [attr.data-src]="tof.image" class="icon-bx-xs check-km" [attr.title]="tof.name">		
                                                                    <i class="fa fa-picture-o"></i> 
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </ng-container>
                                </div>
                            </div>
                            <div id="videos" class="tab-pane active" *ngIf="videosActivate == true">
                                <ng-container *ngIf="event.videos.length > 0;else sorry">
                                    <p class="m-b10">
                                        <strong><em><h3>Videos de l'évenement.</h3></em></strong><br>
                                    </p>
                                    <ul id="masonry" class="row dez-gallery-listing gallery-grid-4 m-b0 mfp-gallery">
                                        <li class="card-container col-lg-6 col-sm-6" *ngFor="let movie of movies">
                                            <div class="dez-post-media dez-img-effect zoom-slow">
                                                <div class="blog-post blog-grid date-style-2">
                                                    <div class="dez-post-media dez-img-effect zoom-slow">
                                                        <iframe width="560" height="315" [src]="movie.link" frameborder="0" allowfullscreen></iframe>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </ng-container>
                                
                                <ng-template #sorry>
                                    <p class="m-b10">
                                        <strong><em><h3>Désolé, il n'y a pas eu de vidéos lors de cet évenement.</h3></em></strong><br>
                                    </p>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product details -->
    </div>
    <!-- contact area  END -->
</div>