<!-- Content -->
<div class="page-content">
    <!-- inner page banner -->
    <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(images/background/bg4.jpg);">
        <div class="container">
            <div class="dez-bnr-inr-entry">
                <h1 class="text-white">Catégorie: <strong>{{category.name}}</strong></h1>
            </div>
        </div>
    </div>
    <!-- inner page banner END -->
    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a routerLink="/">Accueil</a></li>
                <li><a routerLink="/articles">Articles</a></li>
                <li>Catégorie: {{category.name}}</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <div class="content-area">
        <div class="container">
            <!-- Blog half image -->
            <div class="blog-post blog-md clearfix date-style-2" *ngFor="let article of filterFunction(articles) | paginate : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
                };
                let i = index" [class.active]="i == currentIndex">
                <div class="dez-post-media dez-img-effect zoom-slow"> <a [routerLink]="['/articles/', article.id]"><img [src]="article.image" alt=""></a> </div>
                <div class="dez-post-info">
                    <div class="dez-post-title ">
                        <h3 class="post-title"><a [routerLink]="['/articles/', article.id]">{{article.title}}</a></h3>
                    </div>
                    <div class="dez-post-meta ">
                        <ul>
                            <li class="post-date"> <i class="fa fa-calendar"></i><strong>{{article.created | date: 'd MMM'}}</strong> <span> {{article.created | date: 'y'}}</span> </li>
                            <li class="post-author"><i class="fa fa-user"></i>By <a href="#">demongo</a> </li>
                            <li class="post-comment"><i class="fa fa-comments"></i> <a href="#">0</a> </li>
                        </ul>
                    </div>
                    <div class="dez-post-text">
                        <p>{{article.description}}</p>
                    </div>
                    <div class="dez-post-readmore"> <a [routerLink]="['/articles/', article.id]" title="En savoir plus" rel="bookmark" class="site-button-link">En savoir plus<i class="fa fa-angle-double-right"></i></a> </div>
                    <div class="dez-post-tags">
                        <div class="post-tags" *ngFor="let tag of tags">
                            <div *ngFor="let articleTag of article.tags">
                               <a [routerLink]="['/articles/tags/', tag.id]" *ngIf="tag.id === articleTag"># {{tag.name}}</a>
                           </div>
                       </div>
                    </div>
                </div>
            </div>
            <!-- Blog half image END -->
           <!-- Pagination start -->
           <div class="pagination-bx  clearfix ">
            <div class="pagination">
                <pagination-controls 
                responsive="true" 
                previousLabel="Précédent" 
                nextLabel="Suivant" 
                (pageChange)="onTableDataChange($event)">
              </pagination-controls>
            </div>
            
        </div>
        <!-- Pagination END -->
        </div>
    </div>
</div>
<!-- Content END-->