<div class="page-content">
    <!-- inner page banner -->
    <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(assets/images/background/about.jpg);">
        <div class="container">
            <div class="dez-bnr-inr-entry">
                <h1 class="text-white">A propos de nous</h1>
            </div>
        </div>
    </div>
    <!-- inner page banner END -->
    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a routerLink="/">Accueil</a></li>
                <li>A propos</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <!-- contact area -->
    <div class="clearfix">
        <!-- Our Awesome Services -->
        <div class="section-full bg-white content-inner">
            <div class="container">
                <div class="section-content">
                    <div class="row">
                        <div class="col-lg-12 text-center section-head">
                            <h3 class="h3">Our Awesome Services</h3>
                            <div class="dez-separator bg-primary"></div>
                            <div class="clear"></div>
                            <p>{{ intro }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="icon-bx-wraper bx-style-2 m-b30 p-a20 right m-r50" *ngFor="let class of classes | slice:0:3">
                                <div class="icon-data radius"><img src="{{class.image}}" alt=""/></div>
                                <div class="icon-content p-l40">
                                    <h5 class="dez-tilte ">{{class.name}}</h5>
                                    <div class="dez-separator-outer ">
                                        <div class="dez-separator bg-primary style-liner"></div>
                                    </div>
                                    <p>{{class.info}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 text-center align-self-center d-md-none d-lg-block">
                            <div class="worker"> 
                                <img src="assets/images/classes/logo-ecodim-ad-sydes-pz.jpg" alt=""/> 
                                <div><br><br><br><br></div>
                                <a>Le corps des Moniteurs</a> <img src="assets/images/classes/corps-moniteur.jpg" alt=""/>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="icon-bx-wraper bx-style-2 m-b30 p-a20 left m-l50" *ngFor="let class of classes | slice:3:5">
                                <div class="icon-data radius"><img src="{{class.image}}" alt=""/></div>
                                <div class="icon-content p-l40">
                                    <h5 class="dez-tilte ">{{class.name}}</h5>
                                    <div class="dez-separator-outer ">
                                        <div class="dez-separator bg-primary style-liner"></div>
                                    </div>
                                    <p>{{class.info}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Our Awesome Services END -->
        <!-- Company Stats  -->
        <div class="section-full bg-img-fix content-inner overlay-black-dark our-projects-galery" style="background-image:url(images/background/bg3.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="center text-white">
                            <h5>
                                Le moniteur a pour rôle l’encadrement spirituel des enfants qu’il encadre afin que ceux-ci soient gagnés  au Seigneur. Il prie pour ses enfants et avec eux. Il les amène à mener une vie de consécration et de communion personnelle avec le Seigneur Jésus. Il les visite , les encourage, les conseille face aux réalités de la vie chrétienne et des choses de ce monde. Il doit donc user de tacte et de persévérance. Le bien-être spirituel , emotionnel, psychologique, moral et social de l’enfant est son leitmotiv.
                            </h5>
                            <br>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="center text-white">
                            
                            <ul class="list-check-circle mb-0 primary">
                                <div class="m-t10">
                                    <h6><strong>Les qualités du moniteur:</strong></h6>
                                    <div class="dez-separator bg-primary"></div>
                                </div>
                                <li><strong>M</strong> (Maintient de l’ordre)</li>
                                <li><strong>O</strong> (Organise bien sa leçon)</li>
                                <li><strong>N</strong> (Ne blesse pas)</li>
                                <li><strong>I</strong> (Instruit avec passion)</li>
                                <li><strong>T</strong> (Transmet des valeurs bibliques)</li>
                                <li><strong>E</strong> (Est enseignable)</li>
                                <li><strong>U</strong> (Utilise le fruit de l’Esprit)</li>
                                <li><strong>R</strong> ((Reconnait que le Saint-Esprit peut changer les coeurs)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Company Stats END -->
        <!-- Team member -->
        <div class="section-full bg-white content-inner">
            <div class="container">
                <div class="section-head text-center ">
                    <h3 class="h3">Les Responsables</h3>
                    <div class="dez-separator bg-primary"></div>
                </div>
                <div class="section-content ">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 m-b30">
                            <div class="dez-box">
                                <div class="dez-media"> <a><img src="assets/images/our-team/pic1.jpg" alt=""></a> </div>
                                <div class="dez-info p-a20 p-t40 border-1">
                                    <h4 class="dez-title m-tb0"><a>Mr Bindé Kouamé</a></h4>
                                    <div class="bg-primary skew-content-box">
                                        <ul class="dez-social-icon">
                                            <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                            <li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
                                            <li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
                                            <li><a class="fa fa-google-plus" href="javascript:void(0);"></a></li>
                                        </ul>
                                    </div>
                                    <span>Directeur</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 m-b30">
                            <div class="dez-box">
                                <div class="dez-media"> <a><img src="assets/images/our-team/pic2.jpg" alt=""></a> </div>
                                <div class="dez-info p-a20 p-t40 border-1">
                                    <h4 class="dez-title m-tb0"><a>Mr Yodé Armel</a></h4>
                                    <div class="bg-primary skew-content-box">
                                        <ul class="dez-social-icon">
                                            <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                            <li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
                                            <li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
                                            <li><a class="fa fa-google-plus" href="javascript:void(0);"></a></li>
                                        </ul>
                                    </div>
                                    <span>Directeur- Adjoint</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 m-b30">
                            <div class="dez-box">
                                <div class="dez-media"> <a><img src="assets/images/our-team/pic3.jpg" alt=""></a> </div>
                                <div class="dez-info p-a20 p-t40 border-1">
                                    <h4 class="dez-title m-tb0"><a>Mme Kassi Marie</a></h4>
                                    <div class="bg-primary skew-content-box">
                                        <ul class="dez-social-icon">
                                            <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                            <li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
                                            <li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
                                            <li><a class="fa fa-google-plus" href="javascript:void(0);"></a></li>
                                        </ul>
                                    </div>
                                    <span>Trésorière</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team member -->
        <!-- Testimonials -->
        <div class="section-full bg-img-fix content-inner overlay-black-dark" style="background-image:url(images/background/bg3.jpg);">
            <div class="container">
                <div class="section-head text-center text-white">
                    <h3 class="h3"> Activités</h3>
                    <div class="dez-separator bg-primary"></div>
                    <p>
                        Les activités menées le dimanche avec les enfants sont des moments de prières, d’adoration et de louanges, d’enseignements bibliques, des jeux bibliques et activités récréatives, des sorties détentes.
                    </p>
                </div>
            </div>
        </div>
        <!-- Testimonials End -->
    </div>
    <!-- contact area END -->
</div>