<!-- Content -->
<div class="page-content">
    <!-- inner page banner -->
    <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(assets/images/background/all-articles.jpg);">
        <div class="container">
            <div class="dez-bnr-inr-entry">
                <h1 class="text-white">Les Articles</h1>
            </div>
        </div>
    </div>
    <!-- inner page banner END -->
    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a routerLink="/">Accueil</a></li>
                <li>Les Articles</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <div class="content-area">
        <div class="container">
            <div class="row">
                <!-- left part start -->
                <div class="col-lg-9">
                    <div class="clearfix">
                        <!-- blog grid  -->
                        <div id="masonry" class="row dez-blog-grid-2">
                            <div class="post card-container col-lg-6 col-sm-6 col-12" 
                                *ngFor="let article of articles | paginate : {
                                    itemsPerPage: tableSize,
                                    currentPage: page,
                                    totalItems: count
                                };
                                let i = index" [class.active]="i == currentIndex"
                            >
                                <div class="blog-post blog-grid date-style-2">
                                    <div class="dez-post-media dez-img-effect zoom-slow"> 
                                        <a [routerLink]="['/articles/', article.id]">
                                            <img [src]="article.image" alt="">
                                        </a> 
                                    </div>
                                    <div class="dez-post-info">
                                        <div class="dez-post-title ">
                                            <h3 class="post-title">
                                                <a [routerLink]="['/articles/', article.id]">{{article.title}}</a>
                                            </h3>
                                        </div>
                                        <div class="dez-post-meta ">
                                            <ul>
                                                <li class="post-date"> <i class="fa fa-calendar"></i><strong>{{article.created | date: 'd MMM'}}</strong> <span> {{article.created | date: 'y'}}</span> </li>
                                                <li class="post-author"><i class="fa fa-user"></i>By <a href="#">demongo</a> </li>
                                                <li class="post-comment"><i class="fa fa-comments"></i> <a href="#">0 Comments</a> </li>
                                            </ul>
                                        </div>
                                        <div class="dez-post-text">
                                            <p>{{article.description}}</p>
                                        </div>
                                        <div class="dez-post-readmore"> <a [routerLink]="['/articles/', article.id]"
                                         title="READ MORE" rel="bookmark" class="site-button-link">En savoir plus<i class="fa fa-angle-double-right"></i></a> </div>
                                        <div class="dez-post-tags">
                                            <div class="post-tags" *ngFor="let tag of tags">
                                                <div *ngFor="let articleTag of article.tags">
                                                   <a [routerLink]="['/articles/tags/', tag.id]" *ngIf="tag.id === articleTag"># {{tag.name}}</a>
                                               </div>
                                           </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- blog grid END -->
                        <!-- Pagination start -->
                        <div class="pagination-bx  clearfix " *ngIf="(articles.length > 9) || (articles.length === 9)">
                            <div class="pagination">
                                <pagination-controls 
                                responsive="true" 
                                previousLabel="Précédent" 
                                nextLabel="Suivant" 
                                (pageChange)="onTableDataChange($event)">
                              </pagination-controls>
                            </div>
                            
                        </div>
                        <!-- Pagination END -->
                    </div>
                </div>
                <!-- left part start -->
                <!-- Side bar start -->
                <div class="col-lg-3">
                   <app-side-bar [categories]="categories" [tags]="tags" [videos]="videos"></app-side-bar>
                </div>
                <!-- Side bar END -->
            </div>
        </div>
    </div>
</div>
<!-- Content END-->
