 <!-- Content -->
 <div class="page-content">
    <!-- inner page banner -->
    <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(images/background/bg4.jpg);">
        <div class="container">
            <div class="dez-bnr-inr-entry">
                <h1 class="text-white">Portfolio Details</h1>
            </div>
        </div>
    </div>
    <!-- inner page banner END -->
    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="#">Home</a></li>
                <li>Portfolio Details</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <!-- contact area -->
    <div class="section-full content-inner-1 portfolio-detail">
        <!-- Left & right section start -->
        <div class="container">
            <!-- Portfolio Details -->
            <div class="clearfix">
                <div id="" class="row dez-blog-grid-2">
                    <div class="post card-container col-lg-12 col-sm-12 col-12">
                        <div class="blog-post blog-single">
                            <div class="dez-post-media dez-img-effect zoom-slow"> <a href="#"><img src="assets/images/background/bg2.jpg" alt=""></a> </div>
                             <!-- Title separator style 2 -->
                            <div class="">
                                <div class="section-head text-left">
                                    <h2 class="text-uppercase">Title separator style 2</h2>
                                    <div class="dez-separator bg-primary"></div>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever 
                                        since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book has survived.</p>
                                </div>
                                <div class="section-content"></div>
                            </div>
                            <hr>
                            <!-- Title separator style 2 END -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Portfolio Details END -->
        </div>
        <!-- Left & right section  END -->
    </div>
    <!-- contact area  END -->
</div>
<!-- Content END-->