<div class="page-content">
    <!-- inner page banner -->
    <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(images/background/bg4.jpg);">
        <div class="container">
            <div class="dez-bnr-inr-entry">
                <h1 class="text-white">Donation</h1>
            </div>
        </div>
    </div>
    <!-- inner page banner END -->
    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a routerLink="/">Accueil</a></li>
                <li>Donation</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <!-- contact area -->
    <div class="section-full content-inner contact-style-1">
        <div class="container">
            <div class="row">
                <!-- right part start -->
                <div class="col-lg-4 col-md-6 d-lg-flex d-md-flex">
                    <div class="p-a30 m-b30 border-1 contact-area align-self-stretch">
                        <h2 class="m-b10">VIREMENT BANCAIRE</h2>
                        
                        <div class="m-t20">
                            <ul class="social-icon dez-border social-icon-lg">
                                <li><a href="javascript:void(0);" class="fa fa-facebook bg-primary"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-twitter bg-primary"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-linkedin bg-primary"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-pinterest-p bg-primary"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-google-plus bg-primary"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- right part END -->
                <!-- Left part start -->
                <div class="col-lg-4 col-md-6 d-lg-flex d-md-flex">
                    <div class="p-a30 m-b30 border-1 contact-area align-self-stretch">
                        <h2 class="m-b10">CARTES BANCAIRES</h2>
                        
                        <div class="m-t20">
                            <ul class="social-icon dez-border social-icon-lg">
                                <li><a href="javascript:void(0);" class="fa fa-facebook bg-primary"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-twitter bg-primary"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-linkedin bg-primary"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-pinterest-p bg-primary"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-google-plus bg-primary"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Left part END -->
                <div class="col-lg-4 col-md-6 d-lg-flex d-md-flex">
                    <div class="p-a30 m-b30 border-1 contact-area align-self-stretch">
                        <h2 class="m-b10"><br> MOBILE MONEY </h2>
                        
                        <div class="m-t20">
                            <ul class="social-icon dez-border social-icon-lg">
                                <li><a href="javascript:void(0);" class="fa fa-facebook bg-primary"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-twitter bg-primary"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-linkedin bg-primary"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-pinterest-p bg-primary"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-google-plus bg-primary"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact area  END -->
</div>